body {
    background-image: url(imagens/fundo.jpg);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.header {
    text-align:center;
    margin-bottom: 30px;
   
}
.header h1 {
    font-size: 2.5em;
    margin: 10px;
    text-align: center;
    color: #00796b;
}
.buttons {
    display: flex;
    flex-direction:column;
    align-items:center;
    gap: 20px;
}
.button {
    background-color:#123e91;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    width: 250px;
    text-align: center;
    transition: 0.5s ;
}


.button:hover {
    background-color: #18ac62;
}
    
.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    
        
}
h1  {
    text-align: center;
    color: #00796b;
 }
    
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

    
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
    
.spacing {
    margin-bottom: 20px;
}

.spacing h2 {
    font-size: 1.5em;
    color: #00796b;
}

.available-times {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.available-time {
    background-color: #123e91;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ;

}

.available-time:hover {
    background-color: #1f1f1f;
}

.back-botton {
    padding: 4px 15px ;
    font-size: 19px;
    color: white;
    background-color:#123e91;
    text-decoration: none;
    border-radius: 7px;
    transition: 0.5s ;
    
}
   
.button-link {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:#123e91;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ;
}

.button-link:hover {
    background-color: #00f790;
}

.back-botton:hover {
    background-color: #18ac62;
}
      
    